/* ///////////////////////  styling signup Page ///////////////////////// */

.signup_page {
    padding: 5rem;
    text-align: center;
}

.signup_page header {
    font-size: 3rem;
    font-family: monospace;
    color: var(--text-light);
}
.page_content {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
    padding: 2rem 1rem;
    background-color: rgba(215, 248, 215, 0.075);
    box-shadow: 1px 1px 3px rgba(170, 169, 169, 0.185);
}
.page_content form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}
form input {
    margin: .5rem;
    padding: 1rem;
    font-size: 1.1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: transparent;
    border-width: .1rem;
}
form input::placeholder {
    color: rgba(8, 54, 2, 0.534);
    font-style: italic;
}
.page_content .btns {
    display: flex;
    justify-content: flex-end;
}
.page_content .btns button {
    background-color: transparent;
    border: none;
    transition: all .3s;
}
.page_content .btns button:hover {
    color: var(--text-light);
    text-decoration: underline;
}
.page_content .btns .btn {
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    text-align: right;
    color: var(--white);
    background-color: var(--color-primary);
    border-radius: 10rem;
}
.page_content .btns .btn:hover {
    background-color: var(--text-light);
    text-decoration: none;
    color: white;
}