.home {
    font-family: sans-serif;
}
.home header {
    height: 90vh;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(8rem, 12rem)) minmax(2rem, 1fr);
}

.home .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/8;
    font-family: monospace;
    color: black;
}
.name {
    animation: page 1s;
    display: flex;
    align-items: center;
}
.logo {
    width: 3rem;
    margin-right: 1rem;
}
.home .header_top h1 {
    font-size: 2rem;
}
.header_top .login {
    animation: button 2s 1s;
    animation-fill-mode: backwards;
    padding: .5rem 1rem;
    border-radius: 10rem;
    background-color: transparent;
    color: var(--text-light);
    border: none;
    font-size: .8rem;
    margin-right: 1rem;
    transition: all .4s;
}

.header_top .login:hover {
    text-decoration: underline;
}
.header_top .signup {
    animation: button 1s 1s;
    animation-fill-mode: backwards;
    padding: .5rem 1rem;
    border-radius: 10rem;
    background-color: transparent;
    color: var(--text-light);
    border-color: currentColor;
    font-size: .8rem;
    margin-right: 1rem;
    transition: all .4s;
}
.header_top .signup:hover {
    background-color: var(--text-light);
    color: var(--white);
}
.header_body {
    grid-column: 2/8;
    margin-top: 10rem;
    justify-self: center;
    text-align: center;
}
.header_body .heading {
    font-size: 3rem;
    font-weight: 200;
    color: black;
    font-family: sans-serif;
}
.header_body p {
    text-align: center;
    width: 40rem;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--text-dark);
    margin-top: 3rem;
    letter-spacing: .1rem;
    word-spacing: .2rem;
    line-height: 1.7rem;
}
.header_body button{
    animation: btn 1s 1.5s;
    animation-fill-mode: backwards;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 10rem;
    background-color: var(--color-primary);
    margin-top: 3rem;
    box-shadow: 1px 0px 1rem rgba(0, 0, 0, 0.541);
    border: none;
    position: relative;
}
.header_body button:hover{
    transform: translateY(-10%);
    box-shadow: 1px 0px 1rem rgba(0, 0, 0, 0.911);
}
.header_body button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: var(--color-primary);
    z-index: -1;
    transition: all .5s;
}

.header_body button:hover::before{
    transform: scale(1.3);
    opacity: 0;
}


.home section {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(8rem, 12rem)) minmax(2rem, 1fr);
    align-items: center;
}
.home section .left {
    grid-column: 2/5;
    margin-right: 5rem;
}
.left p, .right p {
    font-size: 1.2rem;
    font-weight: 100;
    color: black;
    margin-top: 1rem;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    line-height: 1.7rem;
}
.home section .right {
    grid-column: 5/8;
}
img {
    width: 100%;
    height: 100%;
}
.home section .head {
    font-size: 3rem;
    font-weight: 100;
}
.home section button{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 10rem;
    background-color: var(--color-primary);
    margin-top: 3rem;
    box-shadow: 1px 0px 1rem rgba(0, 0, 0, 0.541);
    border: none;
    position: relative;
}
.home section button:hover{
    transform: translateY(-10%);
    box-shadow: 1px 0px 1rem rgba(0, 0, 0, 0.911);
}
.home section button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: var(--color-primary);
    z-index: -1;
    transition: all .5s;
}

.home section button:hover::before{
    transform: scale(1.3);
    opacity: 0;
}

.footer {
    color: var(--white);
    padding: 5rem 0;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(8rem, 12rem)) minmax(2rem, 1fr);
}

.footer .left {
    grid-column: 2/5;
    text-align: left;
}
.footer .name {
    margin-bottom: 2rem;
}

.footer .p {
    color: var(--white);
    text-align: left;
}
.footer .right {
    grid-column: 6/8;
}



/* //////////////////  responsive styles /////////////////////// */

@media only screen and (max-width: 660px) {
    .home header {
        height: 100%
    }
    .header_body .heading {
        font-size: 2.5rem;
    }
    .header_body p {
        width: 100%;
    }
    .home header, .home section, .footer {
        display: block;
        padding: 5rem 2rem;
    }
    .home header {
        padding-bottom: 5rem;
    }
    .left p, .right p {
        margin-bottom: 2rem;
    }
    .home section .head {
        font-size: 2rem;
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 460px) {
    .home header {
        padding: .5rem;
        padding-bottom: 2rem;
    }
    .home .header_top h1 {
        font-size: 1.3rem;
    }
    .logo {
        width: 2rem;
    }
}