/* ////////////// Styling cabinet ///////////////////////// */

.content .files {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.file {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--text-dark);
    transition: all .3s;
}
.file:hover {
    background-color: rgba(12, 77, 12, 0.185);
    transform: scale(.7);
}
.file figure {
    font-size: 7rem;
}

/* /////////////////// Styling cabinet /////////////////// */

.cabinet {
    padding: 2rem;
}
.cabinet h2 {
    font-size: 1.3rem;
    font-weight: 200;
    font-style: italic;
}
.cabinet .files {
    border: 1px solid var(--text-dark);
    margin-top: 2rem;
    height: 50vh;
}


/* ///////////////////////////styling cabinet file content /////////////// */
.content .filess {
    display: flex;
    justify-content: space-between;
    padding: .2rem .5rem;
    cursor: pointer;
    align-items: center;
}
.content .filess:hover {
    background-color: rgba(35, 245, 7, 0.068);
}
.filess .delete {
    color: var(--white);
    font-weight: 900;
    background-color: red;
    border-radius: 10rem;
    height: 1.3rem;
    width: 1.4rem;
    border: none;
    opacity: 0;
    transform: translateX(1000%);
    transition: all .2s;
}
.content .filess:hover .delete {
    opacity: 1;
    transform: none;
}

/* //////////////////styling cta section////////////////////// */

.cta {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-dark);
    align-items: center;
}
.cta h3 {
    color: var(--white);
    text-transform: uppercase;
}
.cta .cta-btn {
    font-size: 1.3rem;
    padding: 1rem 2rem;
    letter-spacing: .2rem;
    color: var(--white);
    background-color: var(--text-dark);
    box-shadow: 2px 3px 4px black;
    border-radius: 10rem;
    cursor: pointer;
    transition: all .4s;
}
.cta .cta-btn:hover {
    transform: translateY(-10%);
    box-shadow: 4px 3px 1rem black;
}
