:root {
  --color-primary: rgb(60, 167, 60);
  --primary-dark: rgb(45, 53, 45);
  --text-dark:rgb(32, 65, 32);
}




* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 82.52%;
}
button {
  cursor: pointer;
  outline: none;
  transition: all 1s;
}
button:active{
  transform: scale(2);
}
.App {
  font-family: sans-serif;
}
.App-header {
  background-color: #282c34;
  color: white;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(7rem, 12rem)) minmax(2rem, 1fr);
}
.heading {
  font-family: monospace;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.App-header p {
  padding: .4rem .1rem;
}
.navsearch {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(7rem, 12rem)) minmax(2rem, 1fr);
  margin: 5rem 0;
}
main section {
  grid-column: 2/8;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  main {
    display: block;
    margin-top: 1rem;
  }
  .App-header {
    padding: 0 1rem;
    padding-top: 2rem;
    padding-right: 0;
    grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(7rem, 12rem)) minmax(2rem, 1fr);
    display: block;
  }
  .navsearch {
    flex-direction: column-reverse;
  }
}